*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.container
{
    height: 1000px;
    width: 1000px;
    background-color: aquamarine;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
}



.up
{
    background-color: beige;
    height: 250px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: end;

   
}
.box1
{
    background-color: brown;
    height: 100px;
    
    width: 200px;
    border-radius: 70%;
    transform: rotate(30deg);
    position: relative;
    left: 17px;
   animation: fly 0.5s linear 2s infinite alternate;
   
}
@keyframes fly {
    
    from{
        transform:rotateX(0deg);
    }
    to{
        transform:skewX(10px);
    }
}
@keyframes fly1 {
    
    from{
        transform: rotateY(0deg);
    }
    to{
        transform:skewY(80px);
    }
}

.line
{
    height: 100px;
    width: 20px;
    background-color: black;
    border-top-left-radius:50px ;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    animation: line 0.5s ease-out 2s infinite alternate;
  
}
@keyframes line {
    from{
        transform: translate(0px);
    }
    to{
        transform:scaleY(1.3);
    }
    
}
@keyframes line1 {
    from{
        transform: translate(0px);
    }
    to{
        transform:scaleY(0.9);
    }
    
}
.line1
{
    height: 100px;
    width: 20px;
    background-color: black;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius: 50px;
    animation: line1 0.5s ease-out 2s infinite alternate;
}
.box2
{
    background-color: red;
    height: 100px;
    width: 200px;
    border-radius: 50%;
    transform: rotate(-30deg);
    position: relative;
    right: 17px;
   
    animation: fly1 0.5s ease-out 2s infinite alternate;
}
.box3
{
    background-color: red;
    height: 100px;
    width: 200px;
    border-radius: 50%;
    transform: rotate(-30deg);
    position: relative;
    top: 20px;
    left: 17px;
    animation: fly 0.5s ease-out 2s infinite alternate;
}
.box4
{
    background-color: brown;
    height: 100px;
    
    width: 200px;
    border-radius: 70%;
    transform: rotate(30deg);
    position: relative;
    top: 20px;
    right: 17px;
    animation: fly1 0.5s ease-out 2s infinite alternate;
    
}

.down
{
    background-color: pink;
    height: 250px;
    width: 450px;
    display: flex;
    justify-content: center;
   
}